# This file can be useful if you work only on frontend folder or backend folder 

# Examples

# write "backend" if you want to commit and push only frontend part 
# write "frontend" if you want to commit and push only backend part 