@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.component_test {
  width: 500px;
  animation: fadein 4s ease-in-out;
}

.icon_test {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 50px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}

.icon_test .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.element_test {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}

.element_test:hover {
  padding-right: 75px;
}

.element_test:hover .icon_test {
  opacity: 1;
  transform: translate(-50px);
}

.element_test:hover .fa-check-circle {
  transform: rotate(360deg);
}

.line_test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.line_test p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line_test span {
  margin-right: 5px;
}

.element_test h4 {
  margin: 0;
}
