*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* easier to convert than 16px */
  font-size: 10px;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

h3 {
  font-family: "Shrikhand";
  font-size: 3rem;
}
