<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Inscription</h5>
    <p class="card-text">Première utilisation ?</p>
    <a href="/signup" class="btn btn-primary"
      >Inscrivez-vous ! <br /><i class="fas fa-user-plus"></i>
    </a>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Connexion</h5>
    <p class="card-text">Vous êtes déjà membre ?</p>
    <a href="/login" class="btn btn-primary"
      >Connectez-vous ! <i class="fas fa-sign-in-alt ms-4"></i>
    </a>
  </div>
</div>
