<div class="container">
  <div class="row pt-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="nga-card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Marché</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fas fa-shopping-cart fa-lg"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            Nous sommes spécialisés dans la grande distribution.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="nga-card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Croissance</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fas fa-chart-line fa-lg"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            Le groupe compte plus de 600 collaborateurs... 300 il y a 3 ans.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="nga-card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Nos valeurs</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fas fa-seedling fa-lg"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            Nous souhaitons développer le bien-être des collaborateurs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="nga-card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Rejoignez nous</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fas fa-handshake fa-lg"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            Vous pourrez bientôt accéder au site "Carrière".
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
